body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  padding: 20px;
}

.title {
  margin-bottom: 20px;
}

.pairs {
  display: flex;
}

.search-bar {
  height: 40px;
  border-radius: 8px;
  border: 1px solid gray;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 20px;
}

.card {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  display: block;
  text-align: left;
  box-shadow: 0 2px 8px rgba(48,49,53,0.16);
  margin-right: 12px;
  margin-bottom: 12px;
}

.card-title {
  margin-bottom: 14px;
}

.timeframe-screener {
  display: flex;
  align-items: center;
}

.timeframe-name {
  width: 100px;
}

.timeframe-value {
  width: 80px;
  margin-right: 12px;
}

.timeframe-value.last {
  margin-right: 0;
}

.text-only {
  text-align: center;
}

.bullish-bar {
  border-radius: 8px;
  background-color: #00FF9C;
  display: block;
  height: 15px;
}

.bearish-bar {
  border-radius: 8px;
  background-color: #FF748B;
  display: block;
  height: 15px;
}

.divider {
  border-top: 1px dashed gray;
  margin: 20px 0;
}